# local package
-e .

# external requirements
absl-py
accelerate
aiohttp
aiosignal
antlr4-python3-runtime
appdirs
asttokens
astunparse
async-timeout
attrs
Babel
backcall
black
cachetools
certifi
charset-normalizer
click
codespell
colorama
comm
contourpy==1.1.1
cycler
datasets
debugpy
decorator
dill
docker-pycreds
exceptiongroup
executing
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
ghp-import
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
hydra-core
idna
importlib-metadata
importlib-resources
ipykernel
ipython
isort
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mergedeep
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-material
mkdocs-material-extensions
mkdocs-same-dir
ml-dtypes
mpmath
multidict
multiprocess
mypy-extensions
nest-asyncio
networkx
numpy
oauthlib
omegaconf
opt-einsum
packaging
paginate
pandas
parso
pathspec
pathtools
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyyaml_env_tag
pyzmq
regex
requests
requests-oauthlib
rsa
ruff
safetensors
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
snakeviz
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
tomli
torch
torch-tb-profiler
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wandb
watchdog
wcwidth
Werkzeug
wrapt
xxhash
yarl
zipp
