# local package
-e .

# external requirements
black==23.11.0
datasets==2.14.6
hydra-core==1.3.2
matplotlib==3.8.0
numpy==1.26.2
omegaconf==2.3.0
pandas==1.5.2
Pillow==10.1.0
scikit_learn==1.3.2
setuptools==58.1.0
torch==2.1.1+cu121
torchvision==0.16.1+cu121
tqdm==4.66.1
transformers==4.34.1
dvc==3.29.0
dvc-gdrive==2.20.0
filelock==3.13.1
wandb==0.15.12
pre-commit==3.5.0
